{% extends 'index.html' %}

{% block title %}
Все заказы
{% endblock %}

{% block body %}

{% for of in off %}

<div class="ui raised very padded text container segment">
    <div class="header">
        {{of.offname}}
    </div>
    <div class="meta">
        {{of.nameBy}}
    </div>
    <div class="description">
        кол-во: {{of.count}}
    </div>
    <div class="description">
        Адрес доставки: {{of.address}}
    </div>
    <div class="description">
        о клиенте: {{of.phone}}
    </div>
    <div class="description">
        Дата: {{of.time}}
    </div>

    <a class="ui green label">{{of.status}}</a>

</div>


{% endfor %}
{% endblock %}