<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/Semantic-UI-CSS-master/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="static/Semantic-UI-CSS-master/semantic.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="ui attached stackable menu">
    <div class="ui container">
        <a class="item" href="/all_offer">
            <i class="home icon"></i> Все созданные Заказы
        </a>
        <a class="item" href="/create_offer">
            <i class="grid layout icon"></i> Создать заказ
        </a>

        <div class="right item">
            <button class="ui red button"><a href="/logout">Выход</a></button>
        </div>
    </div>
</div>
<div class="ui container">
    {% block body %}{% endblock %}
</div>


</body>
</html>